.model{
    position:relative;
    margin:-160px auto;
    overflow:hidden;
  }

  #canvas {
    position: relative;
    margin: 0 auto;
    background: url('../resources/assets/characterColor.png');
    background-repeat: no-repeat;
    background-size: 1920px 1322px;
}